<header id="sct-header-container" class="grid">
  <div class="spacing left two bold">coding</div>
  <a href="#">
    <img
      src="https://s7d2.scene7.com/is/image/Caterpillar/CM20200219-db34e-f70d2?fmt=png-alpha"
      alt="Caterpillar Logo"
    />
  </a>
</header>
