@import '../../../assets/scss/variables';

#sct-header-container {
  grid-template-columns: 0.5fr 1fr 0.3fr;
  align-items: center;
  justify-content: center;
  padding: $ux-spacing-one 0;
  border-bottom: $border-radius-xs solid;

  a {
    justify-self: center;
    img {
      max-width: 265px;
      max-height: 25px;
      vertical-align: middle;
      cursor: pointer;
    }
  }
}

.bold {
  font-weight: $ux-font-weight-bold;
}
