@import 'variables';

.mat-raised-button,
.mat-stroked-button,
.mat-flat-button {
  padding: $ux-spacing-buttons-sm;
  margin: $ux-button-margin;
  vertical-align: middle;
  white-space: break-space;

  &.btn-lg {
    padding: $ux-spacing-buttons;
  }
}
