@import './variables';

@mixin grid-container() {
  .grid {
    display: grid;

    &.flexible-column {
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }

    &.gap-sm {
      grid-gap: $ux-spacing-small;
    }

    &.gap-one {
      grid-gap: $ux-spacing-one;
    }

    .align-self {
      &.start {
        align-self: start;
      }

      &.end {
        align-self: end;
      }

      &.center {
        text-align: center;
        align-self: center;
      }
    }

    .justify-self {
      &.start {
        justify-self: start;
      }

      &.end {
        justify-self: end;
      }

      &.center {
        text-align: center;
        justify-self: center;
      }
    }

    &.centered {
      align-items: center;
      justify-items: center;
      text-align: center;
    }

    .justify-self {
      &.center {
        justify-self: center;
      }
    }

    .align-self {
      &.center {
        align-self: center;
      }
    }
  }
}

@mixin spacing() {
  .spacing {
    &.five {
      &.top {
        padding-top: $ux-spacing-five-times;
      }

      &.bottom {
        padding-bottom: $ux-spacing-five-times;
      }
    }
    &.three {
      &.all {
        padding: $ux-spacing-three-times;
      }

      &.top {
        padding-top: $ux-spacing-three-times;
      }

      &.left {
        padding-left: $ux-spacing-three-times;
      }

      &.bottom {
        padding-bottom: $ux-spacing-three-times;
      }
    }
    &.one-and-half {
      &.left {
        padding-left: $ux-spacing-one-and-half;
      }
    }
    &.two {
      &.top {
        padding-top: $ux-spacing-twice;
      }

      &.left {
        padding-left: $ux-spacing-twice;
      }

      &.right {
        padding-right: $ux-spacing-twice;
      }

      &.bottom {
        padding-bottom: $ux-spacing-twice;
      }
    }
    &.one {
      &.top {
        padding-top: $ux-spacing-one;
      }

      &.left {
        padding-left: $ux-spacing-one;
      }

      &.right {
        padding-right: $ux-spacing-one;
      }
    }
    &.half {
      &.top {
        padding-top: $ux-spacing-half;
      }

      &.right {
        padding-right: $ux-spacing-half;
      }
    }
  }
}

@mixin margin() {
  .margin {
    &.one {
      &.top {
        margin-top: $ux-spacing-one;
      }

      &.left {
        margin-left: $ux-spacing-one;
      }

      &.right {
        margin-right: $ux-spacing-one;
      }
    }
  }
}
