$viewport-desktop: screen and (min-width: 48em);
$viewport-mobile: screen and (max-width: calc(48em - 1px));

// dark
$dark-text: #000000;
$dark-primary-text: rgba($dark-text, 0.87);
$dark-accent-text: rgba($dark-primary-text, 0.54);
$dark-disabled-text: rgba($dark-primary-text, 0.38);
$dark-dividers: rgba($dark-primary-text, 0.12);
$dark-focused: rgba($dark-primary-text, 0.12);

// Light
$light-text: #ffffff;
$light-primary-text: $light-text;
$light-accent-text: rgba($light-primary-text, 0.7);
$light-disabled-text: rgba($light-primary-text, 0.5);
$light-dividers: rgba($light-primary-text, 0.12);
$light-focused: rgba($light-primary-text, 0.12);

$ux-color-primary: #FFCD11;
$ux-primary-lighter-color: #fff0b8;
$ux-primary-darker-color: #ffba0a;

$ux-color-accent: #797979;
$ux-accent-lighter-color: #d7d7d7;
$ux-accent-darker-color: #5c5c5c;

$ux-color-warn: #f15243;
$ux-warn-lighter-color: #fbcbc7;
$ux-warn-darker-color: #eb382c;

$ux-color-secondary-success: #50C878;

$ux-color-disabled: #C4C4C4;

// font-sizes
$ux-font-size-main-title: 5rem;
$ux-font-size-heading-0: 3rem;
$ux-font-size-heading-1: 2rem;
$ux-font-size-heading-2: 1.563rem;
$ux-font-size-heading-3: 1.125rem;

$ux-font-size-body: 1rem;
$ux-font-size-subscript: 0.625rem;

$ux-default-icon-size: 	1.5rem;

// font weights
$ux-font-weight-light: 200;
$ux-font-weight-normal: 400;
$ux-font-weight-semi: 500;
$ux-font-weight-bold: 700;

//letter-spacing
$ux-font-letter-spacing-xs: 1.2px;
$ux-font-letter-spacing: 5px;

// spacing
$ux-spacing-five-times: 5rem;
$ux-spacing-three-times: 3rem;
$ux-spacing-four-half-times: 4.625rem;
$ux-spacing-two-thirds: 2.313rem;
$ux-spacing-twice: 2rem;
$ux-spacing-one-and-half: 1.5rem;
$ux-spacing-one: 1rem;
$ux-spacing-half: 0.5rem;
$ux-spacing-small: 0.625rem;
$ux-spacing-extra-small: 0.422rem;

//buttons
$ux-button-width: 3rem;
$ux-button-margin: 0.25rem 0.65rem;
$ux-spacing-buttons: 1rem 2rem;
$ux-spacing-buttons-sm: 0.87rem 1rem;

//borders
$border-size: 2px;
$border-radius-xs: 1px;
$border-radius-small: 5px;
$border-radius-large: 10px;

//line height
$ux-line-height:1.4;
$ux-line-height-lg:3;
