<section id="sct-trading-card-component" class="grid" *ngIf="model">
  <div class="title-wrapper">
    <div class="title">{{ model.name | name }}</div>
    <div class="sub-title">{{ model.teamName | uppercase }}</div>
  </div>
  <img src="assets/img/basketball.svg" alt="Trading Card" />
  <div class="footer">
    {{ model.playerNumber }}
  </div>
</section>
