@import 'src/assets/scss/variables';

#sct-trading-card-component {
  margin: $ux-spacing-one;
  border: $border-size solid;
  border-radius: $border-radius-large;
  background-color: $ux-color-primary;

  .title-wrapper {
    text-align: end;

    .title,
    .sub-title {
      border-bottom-left-radius: $border-radius-small;
    }

    .title {
      background-color: $dark-text;
      margin-left: $ux-spacing-three-times;
      color: $ux-color-primary;
      padding: $ux-spacing-half;
      font-size: $ux-font-size-heading-3;
    }
    .sub-title {
      background-color: $light-text;
      margin-left: $ux-spacing-five-times;
      padding: $ux-spacing-half;
      font-size: $ux-font-size-subscript;
      font-weight: $ux-font-weight-bold;
      letter-spacing: $ux-font-letter-spacing;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
  }

  img {
    height: 138px;
    margin-left: auto;
    margin-right: auto;
  }

  .footer {
    text-align: end;
    padding: $ux-spacing-one $ux-spacing-twice;
    color: $light-text;
    font-weight: $ux-font-weight-bold;
    font-size: $ux-font-size-heading-1;
  }
}
