<section id="sct-project-details-container">
  <p>How it works</p>
  <div id="sct-overview-details" class="grid">
    <div>
      <div class="detail-el">
        <p>Design Link (FIGMA)</p>
        <a
          href="https://www.figma.com/file/LCHrPl1yOkWD9nFLSZ8TJj/Caterpiller-Inventory-Trading-Cards?node-id=2%3A300"
          target="_blank"
          rel="noopener"
          >https://www.figma.com/file/LCHrPl1yOkWD9nFLSZ8TJj/Caterpiller-Inventory-Trading-Cards?node-id=2%3A300</a
        >
      </div>
      <div class="detail-el">
        <p>Source Code</p>
        <a
          href="https://bitbucket.org/arun_sashi/cat-sports-trading-cards/src/master/"
          target="_blank"
          rel="noopener"
        >
          https://bitbucket.org/arun_sashi/cat-sports-trading-cards/src/master/
        </a>
      </div>

      <div class="detail-el">
        <p>Sonar Analysis</p>
        <a
          href="https://sonarcloud.io/dashboard?id=arun_sashi_cat-sports-trading-cards%22"
          target="_blank"
          rel="noopener"
        >
          https://sonarcloud.io/dashboard?id=arun_sashi_cat-sports-trading-cards%22
        </a>
      </div>
    </div>
    <div>
      <div class="detail-el">
        <p>CI Pipeline</p>
        <a
          href="https://jenkins.arunsudi.dev/job/cat-sports-trading-cards/"
          target="_blank"
          rel="noopener"
          >https://jenkins.arunsudi.dev/job/cat-sports-trading-cards/</a
        >
      </div>
      <div class="detail-el">
        <p>JIRA Kanban Board</p>
        <a
          href="https://arun-sashi.atlassian.net/jira/software/projects/STC/boards/6"
          target="_blank"
          rel="noopener"
          >https://arun-sashi.atlassian.net/jira/software/projects/STC/boards/6</a
        >
      </div>
    </div>
  </div>
  <div class="explanation">
    <p>
      The main architectural flow of this application is:
      <br />
      <br />
      The User enters the form input and when he submits the form. I am calling
      a method in the facade that dispatches a 'addTradingCards' action. With
      the the argument as the form model. The reducer listens to the event and
      uses entity adapter to add the model to the store. I have also taken a
      liberty to add some rules around the form. Here are the following that i
      used:
    </p>

    <ol>
      <li>FirstName and Last name should be characters only.</li>
      <li>Team name should be alphanumeric but not just numbers.</li>
      <li>Team name should be alphanumeric but not just numbers.</li>
      <li>
        Player number should be unique as i dont think we want to have duplicate
        player numbers and also as i made that as an entity id the store will
        technically throw an error, so to avoid that i added a asyncValidator on
        the form, which when form changes checks if the entered id is already
        present in the store or not.
      </li>
    </ol>
    <p>
      I have also created a selector that are again injected in to the facade as
      another method. The HTML reads the data from the selectors which
      constantly reads from the store to return the result.
    </p>
    <p>
      For forms generation i used the Angular Dynamic Form in conjunction with
      Angular Material for basic UX components.
    </p>
    <p>
      I have followed the common SDLC which includes Design, Develop, Build ,
      Test and Deploy [Links attached above].
    </p>
  </div>
</section>
<div class="footer">
  <button mat-icon-button (click)="returnToHome()">
    <mat-icon>arrow_back_ios</mat-icon>
  </button>
</div>
