@import 'src/assets/scss/variables';
@import 'src/assets/scss/breakpoints';

#sct-project-details-container {
  margin: $ux-spacing-five-times;

  @include media('screen', '<bp1Width') {
    margin: $ux-spacing-one-and-half;
  }
  p {
    font-size: $ux-font-size-heading-2;
    font-weight: $ux-font-weight-bold;
    text-align: center;
  }
}
#sct-overview-details {
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: $ux-spacing-twice;

  .detail-el {
    p {
      font-size: $ux-font-size-heading-2;
      text-transform: uppercase !important;
      letter-spacing: $ux-font-letter-spacing;
      text-align: start;
    }

    a {
      text-decoration: none;
      color: $ux-color-accent;
      transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);

      &:hover {
        border-bottom: $border-size solid $ux-color-secondary-success;
      }
    }
  }
}

.explanation {
  margin-top: $ux-spacing-twice;
  p {
    text-align: start !important;
    font-size: $ux-font-size-heading-3 !important;
  }
}

.footer {
  margin: $ux-spacing-one;
  .mat-icon-button {
    width: $ux-font-size-main-title;
    height: $ux-font-size-main-title;

    .material-icons {
      font-size: $ux-font-size-main-title;
    }
  }
}
