@import 'src/assets/scss/variables';

#stc-application-container {
  height: 100vh;
  background: linear-gradient(
    126.27deg,
    $ux-color-primary 4.98%,
    $ux-color-primary 35.96%,
    rgba(255, 205, 17, 0) 57.43%
  );

  .hero-img {
    background-image: url('/assets/img/hero.svg');
    background-position: right bottom;
    background-repeat: no-repeat;
  }
}
