@import 'src/assets/scss/variables';
@import 'src/assets/scss/breakpoints';

#stc-home-component-wrapper {
  grid-gap: $ux-spacing-one;
  margin: $ux-spacing-one-and-half $ux-spacing-three-times;
  @include media('screen', '<bp1Width') {
    margin: $ux-spacing-one-and-half;
  }
}

.title-wrapper {
  grid-template-columns: auto 0.2fr;
}

.title {
  font-size: $ux-font-size-main-title;
  text-align: start;
  font-weight: $ux-font-weight-bold;
  letter-spacing: $ux-font-letter-spacing-xs;
  @include media('screen', '<bp1Width') {
    font-size: $ux-font-size-heading-1;
    padding: $ux-spacing-one;
  }
}

.labels-wrapper {
  width: 80px;
  text-align: center;

  .card {
    padding: $ux-spacing-one $ux-spacing-half;
    background: $dark-text;
    color: $light-text;
    border-radius: $border-radius-small;
    font-size: $ux-font-size-heading-0;
    font-weight: $ux-font-weight-bold;
    margin-bottom: $ux-spacing-extra-small;
  }

  span {
    font-weight: $ux-font-weight-bold;
  }
}

#stc-form-data {
  width: 50%;
  button {
    justify-self: end;
  }
  @include media('screen', '<bp1Width') {
    width: 100%;
    padding: 0 $ux-spacing-one;

    button {
      justify-self: auto;
    }
  }
}

#stc-view-trading-cards-wrapper {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  max-height: 22rem;
  overflow-y: scroll;
  scroll-behavior: smooth
}

footer {
  padding: $ux-spacing-one;
}
