<section id="stc-home-component-wrapper" class="grid">
  <div id="stc-home-title-wrapper" class="title-wrapper grid">
    <div class="title">Sports Inventory Trading Cards</div>
    <div class="labels-wrapper">
      <div class="card">{{ totalEstimate | async }}</div>
      <span>Total Estimate</span>
    </div>
  </div>
  <div id="stc-form-data" class="grid">
    <form [formGroup]="tradingForm">
      <formly-form
        [form]="tradingForm"
        [fields]="tradingFormFields"
        [model]="tradingModel"
      >
      </formly-form>
    </form>
    <button
      mat-flat-button
      class="btn-lg"
      color="primary"
      (click)="addCard(tradingModel)"
      [disabled]="tradingForm.invalid"
    >
      <!--<mat-spinner
        *ngIf="facade.isLoading | async; else addIconTpl"
        diameter="20"
        style="display: inline-block"
      ></mat-spinner>-->
      <!--      <ng-template #addIconTpl>-->
      <mat-icon>add</mat-icon>
      <!--      </ng-template>-->
      Save
    </button>
  </div>
  <div #tradingCardsWrapper id="stc-view-trading-cards-wrapper" class="grid">
    <app-trading-card
      #cardEl
      [@fadeInOut]
      *ngFor="let card of tradingCardsList | async"
      [model]="card"
    ></app-trading-card>
  </div>
  <footer>
    <button mat-button [routerLink]="['project-details']">
      About the application
    </button>
  </footer>
</section>
