/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import 'assets/scss/mixins';
@import 'assets/scss/buttons';
@import 'assets/scss/breakpoints';

// Fonts
@import 'https://fonts.googleapis.com/css?family=Material+Icons';
@import url('https://fonts.googleapis.com/css?family=Mulish:300,400,500');

html,
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    border-radius: $border-radius-large;
  }

  ::-webkit-scrolbar-thumb {
    border-radius: 10px;
    background-color: $ux-color-disabled;
    transition: all 600ms ease-in-out;

    &:hover {
      background-color: $ux-color-primary;
    }
  }
}

$fontConfig: (
  display-4:
    mat-typography-level(
      $ux-font-size-main-title,
      $ux-font-size-main-title,
      300,
      'Mulish',
      -0.0134em
    ),
  display-3:
    mat-typography-level(
      $ux-font-size-heading-1,
      $ux-font-size-heading-1,
      400,
      'Mulish',
      -0.0089em
    ),
  display-2:
    mat-typography-level(
      $ux-font-size-heading-2,
      $ux-font-size-heading-2,
      400,
      'Mulish',
      0em
    ),
  display-1:
    mat-typography-level(
      $ux-font-size-heading-3,
      $ux-font-size-heading-3,
      400,
      'Mulish',
      0.0074em
    ),
  headline:
    mat-typography-level($ux-font-size-heading-3, 32px, 400, 'Mulish', 0em),
  title:
    mat-typography-level($ux-font-size-heading-3, 32px, 500, 'Mulish', 0.0075em),
  subheading-2:
    mat-typography-level($ux-font-size-body, 28px, 400, 'Mulish', 0.0094em),
  subheading-1:
    mat-typography-level($ux-font-size-body, 24px, 500, 'Mulish', 0.0067em),
  body-2:
    mat-typography-level($ux-font-size-body, 24px, 500, 'Mulish', 0.0179em),
  body-1:
    mat-typography-level($ux-font-size-body, 20px, 400, 'Mulish', 0.0179em),
  button:
    mat-typography-level($ux-font-size-body, 14px, 500, 'Mulish', 0.0893em),
  caption: mat-typography-level(12px, 20px, 400, 'Mulish', 0.0333em),
  input: mat-typography-level(inherit, 1.125, 400, 'Mulish', 1.5px),
);

// Compute font config
@include mat-core($fontConfig);

body {
  --primary-color: $ux-color-primary;
  --primary-lighter-color: $ux-primary-lighter-color;
  --primary-darker-color: $ux-primary-darker-color;
  --text-primary-color: #{$dark-primary-text};
  --text-primary-lighter-color: #{$dark-primary-text};
  --text-primary-darker-color: #{$dark-primary-text};
}
$mat-primary: (
  main: $ux-color-accent,
  lighter: $ux-accent-lighter-color,
  darker: $ux-accent-darker-color,
  200: $ux-color-accent,
  contrast: (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  ),
);
$theme-primary: mat-palette($mat-primary, main, lighter, darker);

body {
  --accent-color: $ux-color-accent;
  --accent-lighter-color: $ux-accent-lighter-color;
  --accent-darker-color: $ux-accent-darker-color;
  --text-accent-color: #{$light-primary-text};
  --text-accent-lighter-color: #{$dark-primary-text};
  --text-accent-darker-color: #{$light-primary-text};
}
$mat-accent: (
  main: $ux-color-primary,
  lighter: $ux-primary-lighter-color,
  darker: $ux-primary-darker-color,
  200: $ux-color-primary,
  // For slide toggle,
  contrast:
    (
      main: $dark-primary-text,
      lighter: $dark-primary-text,
      darker: $dark-primary-text,
    ),
);
$theme-accent: mat-palette($mat-accent, main, lighter, darker);

body {
  --warn-color: $ux-color-warn;
  --warn-lighter-color: $ux-warn-lighter-color;
  --warn-darker-color: $ux-warn-darker-color;
  --text-warn-color: #{$light-primary-text};
  --text-warn-lighter-color: #{$dark-primary-text};
  --text-warn-darker-color: #{$light-primary-text};
}
$mat-warn: (
  main: $ux-color-warn,
  lighter: $ux-warn-lighter-color,
  darker: $ux-warn-darker-color,
  200: $ux-color-warn,
  // For slide toggle,
  contrast:
    (
      main: $light-primary-text,
      lighter: $dark-primary-text,
      darker: $light-primary-text,
    ),
);
$theme-warn: mat-palette($mat-warn, main, lighter, darker);

$theme: mat-light-theme($theme-primary, $theme-accent, $theme-warn);

@include angular-material-theme($theme);
@include grid-container();
@include spacing();

.display-flex {
  display: flex;
  @include media('screen', '<bp1Width') {
    flex-direction: column;
  }
}

.flex-1 {
  flex: 0 0 100%;
}

.flex-2 {
  flex: 0 0 50%;
}
.mat-form-field-appearance-outline .mat-form-field-outline {
  margin: 0 5px;
}
.mat-form-field-required-marker {
  color: $ux-color-warn;
}
